{% load static %}
<!--footer starts-->
<div class="row mt-5 text-bg-light p-3">
    <div class="col-md-4 ">
        <h5>Address</h5>
        <hr>
        2nd Floor,Landmark Building<br>
        Near FC Road<br>
        Shivaji Nagar<br><br>
        <p><i class="bi bi-telephone-plus-fill"> : 9090909090</i></p>
        <p><i class="bi bi-envelope-at-fill"> : anonymous@gmail.com</i></p>
    </div>
    <div class="col-md-4">
        <h5>Quick Links</h5>
        <hr>
        <p><a href="/home" class="anchor">Home</a></p>
        <p><a href="/about" class="anchor">About</a></p>
        <p><a href="/viewcart" class="anchor">Cart</a></p>
        <p><a href="/contact" class="anchor">Contact</a></p>
    </div>
    <div class="col-md-4">
        <h5>Connect Us</h5>
        <hr>
        <h5><a href="http:\\www.facebook.com"><i class="bi bi-facebook text-danger"></i></a></h5>
        <h5><a href="http:\\www.whatsapp.com"><i class="bi bi-whatsapp text-danger"></i></a></h5>
        <h5><a href="http:\\www.instagram.com"><i class="bi bi-instagram text-danger"></i></a></h5>
        <h5><a href="http:\\www.twitter.com"><i class="bi bi-twitter text-danger"></i></a></h5>
    </div>
</div>
<!--footer ends-->
</div><!--container div ends-->
<script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
<script src="{% static 'asset/js/popper.min.js' %}"></script>
</body>
</html>